.wrapper {
  background-color: rgba(0, 0, 0, 0);
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.2s;
}

.wrapper:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.img {
  width: 500px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.number-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
